@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
  color: white;
  background: #333;
  padding: 0 20px;
}

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
}

.logo {
  font-family: 'Beau Rivage', cursive;
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
  margin-top: 10px;
}

nav {
  margin-top: 10px;
}

.menu {
  display: none;
}

.menu.is-open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 1;
  background: dimgray;
  width: 100vw;
  border-top: 1px solid #eee;
}

.link {
  display: inline-block;
  margin: 10px;
  color: white;
}

.link:hover {
  color: white;
}

a {
  font-weight: 500;
  text-decoration: none;
}

a.active {
  color: yellowgreen;
}

/* Main content styles */
main {
  min-height: calc(100vh - 150px);
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

input {
  background: none;
  color: white;
  width: 200px;
  padding: 5px;
  border: none;
  border-bottom: 1.5px solid #e6e6e6f0;
  outline: none;
  font-size: inherit;
  font-family: inherit;
}

.name {
  text-transform: capitalize;
  font-size: 20px;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  height: 380px;
  margin: 70px auto;
}

.profile {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  border: none;
}

.animal {
  background-image: url('https://cdn.pixabay.com/photo/2019/07/30/05/53/dog-4372036_1280.jpg');
}

.bird {
  background-image: url('https://cdn.pixabay.com/photo/2015/07/28/18/19/eagle-864725_1280.jpg');
}

.fish {
  background-image: url('https://cdn.pixabay.com/photo/2018/04/15/17/45/fish-3322230_1280.jpg');
}

.insect {
  background-image: url('https://cdn.pixabay.com/photo/2020/04/19/05/33/ants-5061910_1280.jpg');
}

footer {
  margin-top: 50px;
}

/* Card styles */
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-top: 30px;
}

.card {
  background: lightsteelblue;
  border: 0.5px solid black;
  border-radius: 5px;
  position: relative;
}

.single {
  width: 300px;
}

.singlecard {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 150px);
}

.card img {
  width: 100%;
  border: none;
  border-radius: 5px 5px 0 0;
}

.title {
  font-size: 1.2rem;
  margin: 10px auto;
  text-transform: capitalize;
}

.card .likes {
  margin: 5px auto;
}

.card-link {
  color: white;
  text-decoration: none;
}

.card-link:hover {
  color: white;
}

/* Button styles */
.back-btn {
  margin: 5px auto;
  font-size: 1.05rem;
}

.close-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  border-radius: 50%;
}

.close-btn:hover {
  border: 0.5px solid white;
}

.close-btn button {
  color: white;
  font-size: 1.125rem;
}

button,
.close-btn button {
  border: none;
  box-shadow: none;
  background: none;
}

.reaction-btn:hover {
  cursor: pointer;
  border: 0.5px solid white;
}

.close-btn:hover,
button:hover {
  cursor: pointer;
}

.reaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 0 25px;
}

.reaction-btn {
  background: #333;
  width: 35px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-heart,
.fa-heart-crack {
  color: #980c0c;
}

.count {
  margin-left: 5px;
}

.scroll-to-top > button {
  position: fixed;
  bottom: 10px;
  right: 5px;
  font-size: 1.8rem;
  color: white;
}

/* About page */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    color: white;
  }
}

/* Responsive styles */
@media (min-width: 768px) {
  .hero {
    gap: 10px;
    width: 1000px;
    height: 550px;
  }
  
  .profile {
    flex: 50%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: none;
  }

  .menu {
    display: block;
  }

  .mobile-menu {
    display: none;
  }

  .link {
    display: inline-block;
    margin: 10px;
    font-size: 1.125rem;
    color: white;
  }
  
  .link:hover {
    color: white;
  }

  .info {
    margin-top: 40px;
  }

  input {
    width: 250px;
  }

  .cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .card {
    border: 0.5px solid black;
    border-radius: 10px;
    position: relative;
    filter: grayscale(90%);
    margin-top: 30px;
  }
  
  .card:hover {
    filter: grayscale(0%);
  }

  .card img {
    border: 0.5px solid white;
    border-radius: 10px 10px 0 0;
  }

  .rating {
    font-size: 1.25rem;
  }
  
  .count {
    margin-left: 10px;
  }

  .scroll-to-top > button {
    font-size: 2rem;
  }
}
