:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
}

.logo {
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  text-transform: capitalize;
}

body {
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
  color: white;
  background: #333;
  padding: 0 20px;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 800px;
  height: 500px;
  margin: 70px auto;
}

.animal {
  flex: 50%;
  background-image: url('https://cdn.pixabay.com/photo/2019/07/30/05/53/dog-4372036_1280.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.bird {
  flex: 50%;
  background-image: url('https://cdn.pixabay.com/photo/2015/07/28/18/19/eagle-864725_1280.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.fish {
  flex: 50%;
  background-image: url('https://cdn.pixabay.com/photo/2018/04/15/17/45/fish-3322230_1280.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.animal:hover,
.bird:hover {
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
}

a.active {
  color: yellowgreen;
  border-bottom: 1px solid yellowgreen;
}

.link {
  display: inline-block;
  margin: 10px;
  font-size: 1.5rem;
  color: white;
}

.link:hover {
  text-decoration: underline;
  color: white;
}

main {
  min-height: calc(100vh - 250px);
}

footer {
  margin-top: 50px;
}

.search-bar {
  width: 20rem;
  height: 45px;
  margin: 2rem auto;
  background: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.search-bar > input {
  font-family: inherit;
  font-size: inherit;
  margin-left: 2px;
  padding: 0.5rem;
  height: 40px;
  flex: 1;
  border: none;
  outline: none;
}

.search-bar > span {
  font-size: 1.5rem;
  color: #333;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: lightsteelblue;
  border: 0.5px solid black;
  border-radius: 10px;
  position: relative;
  filter: grayscale(90%);
  margin-top: 50px;
}

.single {
  width: 300px;
}

.card:hover {
  filter: grayscale(0%);
}

.card img {
  width: 100%;
  border: 0.5px solid white;
  border-radius: 5px 5px 0 0;
}

.title {
  font-size: 1.2rem;
  margin: 10px auto;
  text-transform: capitalize;
}

.card .likes {
  margin: 5px auto;
}

.card-link {
  color: white;
  text-decoration: none;
}

.card-link:hover {
  color: white;
}

.back-btn {
  margin: 5px auto;
  font-size: 1.05rem;
}

.close-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  border-radius: 50%;
}

.close-btn:hover {
  border: 0.5px solid white;
}

.close-btn button {
  color: white;
  font-size: 1.125rem;
}

button,
.close-btn button {
  border: none;
  box-shadow: none;
  background: none;
}

.reaction-btn:hover {
  cursor: pointer;
  border: 0.5px solid white;
}

.close-btn:hover,
button:hover {
  cursor: pointer;
}

.reaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 0 25px;
}

.reaction-btn {
  background: #333;
  width: 50px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-heart,
.fa-heart-crack {
  color: #980c0c;
}

.rating {
  font-size: 1.25rem;
}

.count {
  margin-left: 10px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    color: white;
  }
}
